FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8080

LOCUST_URL=http://localhost:8089
TEST_PDF_PATH=sample.pdf

# Load testing configuration
NUM_USERS=1                     # total number of users
SPAWN_RATE=1                    # users per second
RUNTIME=10                      # in minutes
THREADS=1                       # ~ number of CPU cores
MAX_RESPONSE_TIME_MS=500        # max avg response time according to requirements
MAX_ERROR_RATE=0.01             # max error rate according to requirements
MAX_TRY_SEC=30                  # max time to try to meet the requirements
