SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/license-realm
API_PATH=http://localhost:8080

KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=license-realm
KEYCLOAK_CLIENT_ID=backend-api
KEYCLOAK_CLIENT_SECRET=CLIENT_SECRET_PLACEHOLDER

MOCKBANK_BASE_URL=http://mock-bank:8080

MAIL_USERNAME=projectlegerski@gmail.com
MAIL_PASSWORD=earm afra dnfn vnpp

PRODUCTION=true

OPENAI_API_KEY=OPENAI_API_KEY_PLACEHOLDER