# Backend
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/license-realm
SPRINGDOC_SWAGGER_UI_OAUTH2_REDIRECT_URL=http://license-application-backend:8080/swagger-ui/oauth2-redirect.html
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=projectlegerski@gmail.com
MAIL_PASSWORD="earm afra dnfn vnpp"
GDPR_PEPPER="mX0u6m5+7wGv3cK7m7f3bQp5m9w1a7Y8QmZQzHqv2mA="

# Database
POSTGRES_URL=jdbc:postgresql://postgres:5432/government
POSTGRES_USER=postgres
POSTGRES_PASSWORD=P4ssword!
POSTGRES_DATABASE=government
POSTGRES_SCHEMA=licensing

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=license-realm
KEYCLOAK_CLIENT_ID=backend-api
KEYCLOAK_CLIENT_SECRET=<KEYCLOAK_CLIENT_SECRET_PLACEHOLDER>

# Mock Document Validator
MOCK_VALIDATOR_BASE_URL=http://mock-document-validator:8080

# Mock Bank
MOCK_BANK_BASE_URL=http://mock-bank:8080

# Translation
OPENAI_API_KEY=<OPENAI_API_KEY_PLACEHOLDER>